/*-------------------Forside---------------------*/

#forside {
    margin-top: 3.5vw;
}

#forsidebillede {
    width: 100%;
    height: auto;
    background-size: cover;
    background-image: url(images/forside.png);
    margin-top: 15vw;
}

/*----------------------CV-------------------------*/

#mig {
    background-color: black;
    color: white;
    border-width: 2vw;
    border-style: solid;
    border-color: #ffb100;
}

#info {
    padding: 2vw;
}

#mig img {
    width: 100%;
    border-radius: 50%;
}

/*-------------------Portfolio---------------------*/

/* unvisited link */
#portfolio a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
#portfolio a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
#portfolio a:hover {
    color: #ffb100;
    text-decoration: none;
}

/* selected link */
#portfolio a:active {
    color: white;
    text-decoration: none;
}

#thumbnails .opgaver:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#portfolio img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

#portfolio h3 {
    font-size: 1.2rem;
    color: #ffb100;
}

#portfolio h4 {
    font-size: 1rem;
    color: #ffb100;
}

#portfolio P {
    font-size: 1rem;
    color: white;
}

.box {
    width: 100%;
    height: 30vw;
    background-color: black;
    text-align: center;
    padding-top: 1vw;
}

#thumbnails {
    font-size: 0;
    display: grid;
    grid-row-gap: 15vw;
}

.relative {
    border-width: 2vw;
    border-style: solid;
    border-color: #ffb100;
    margin-bottom: 15vw;
}

.posrel {
    position: relative;
}

.infobokse {
    width: 100%;
    height: 91vw;
    background-color: black;
    padding: 1vw;
}

.kryds {
    background-image: url(Kryds.svg);
    position: absolute;
    display: block;
    top: 3vw;
    right: 3vw;
    height: 4vw;
    width: 4vw;
    float: right;
    cursor: pointer;
}

.opgaver {
    border-width: 2vw;
    border-style: solid;
    border-color: #ffb100;
}

.button {
    font-family: 'Montserrat', sans-serif;
    padding: 1.5vw;
    border-radius: 30px;
    border-color: #ffb100;
    border-style: solid;
    border-width: 2px;
    display: inline;
}

.hide {
    display: none;
    left: -999em;
}

/*----------------Media-Q------------------*/

@media (min-width: 700px) {

    #mig {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-width: 0.5vw;
        font-size: 3rem;
        padding-right: 1vw;
    }

    #thumbnails {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5vw;
        grid-row-gap: 5vw;
    }

    .opgaver {
        border-width: 0.5vw;
    }

    .box {
        height: 12vw;
    }

    .relative {
        border-width: 0.5vw;
        margin-bottom: 5vw;
    }

    .ekstraboks {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .infobokse {
        height: 22vw;
    }

    .kryds {
        height: 2vw;
        width: 2vw;
    }

    #forsidebillede {
        margin-top: 0vw;
    }

    .button {
        padding: 0.7vw
    }

    #forsidebillede {
        margin-left: 10vw;
        margin-right: 10vw;
        width: 80%;
    }

    .bund {
        margin-bottom: 2vw;
    }
}
