img,
video {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.overskrift {
    text-align: center;
}

.grid {
    display: grid;
    grid-row-gap: 15vw;
}

.row {
    width: 100%;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: #ffb100;
    border-width: 2vw;
}

.tekst {
    padding: 1vw;
}

.liste {
    color: white;
    position: relative;
    left: 4vw;
    padding-right: 2vw;
}

.item {
    display: list-item;
}

/* unvisited link */
.overskrift a:link {
    color: #ffb100;
    text-decoration: none;
}

/* visited link */
.overskrift a:visited {
    color: #ffb100;
    text-decoration: none;
}

/* mouse over link */
.overskrift a:hover {
    color: #ffb100;

}

/* selected link */
.overskrift a:active {
    color: #ffb100;
}

/*----------------Media-Q------------------*/

@media (min-width: 700px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-width: 0.5vw;
    }

    .grid {
        grid-row-gap: 5vw;
    }

    h1 {
        margin-top: 5vw;
    }

    .liste {
        left: 1vw;
        font-size: 1.2rem;
        padding-right: 1vw;
    }

    .to img {
        height: 50%;
    }

    .tre img {
        height: 33.33%;
    }

    .fire img {
        height: 24.9%;
    }
